extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
      -
        let toys = results 
        
      each toys,index in results
        .col-sm-2(onclick=`buy(${index})`)
          p toys Type: #{toys.toys_type}
          p size: #{toys.toys_size}
          p price: $#{toys.toys_price.toFixed(2)}

  a(href="/") Back to index

  script.
    function buy(index) {
        alert(`You purchased item ${index}`);
    }