extends layout
 
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let toysid = toShow._id
        - let toys_type = toShow.toys_type
        - let toys_size = toShow.toys_size
        - let toys_price = toShow.toys_price
        - let actionid = "/resource/toys/" + toysid
        script.
            let actionid = "#{actionid}"
        div
            div.row
                div(class='toysAttr mr-3') toys ID is:
                div #{toysid}
            div.row
                div(class='toysAttr mr-3') toys Type is:
                div #{toys_type}
            div.row
                div(class='toysAttr mr-3') toys Size is:
                div #{toys_size}
            div.row
                div(class='toysAttr mr-3') toys Price is:
                div #{toys_price}
        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
       
    script.
        function cancel() {
            // Go back to the home page for the toys collection
            window.location.href='/toys'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.text(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeeded")
                window.location.href='/toys'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }